*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: rgba(236, 234, 234, 0.927);
    display: flex; //ativa as caixas flexiveis
    justify-content: flex-start; //É o padrão. Os itens são postos no começo do eixo principal.
    justify-content: flex-end; //Os itens são postos no final do eixo principal.
    justify-content: center; //Os itens são postos no meio do eixo principal.
    justify-content: space-around; //O primeiro espaço vazio e o último são iguais.
   // justify-content: space-evenly; //O mesmo espaçamento entre os itens.
   // justify-content: space-between; //O primeiro item fica no começo do eixo e o último item fica no final do eixo.
   height: 10vh;
   align-items: flex-start; //Padrão. Os itens são postos no começo do eixo Y (vertical)
   align-items: flex-end; //Os itens são postos no final do eixo Y (vertical)
   align-items: center; //Os itens são postos no meio do eixo Y (verticla)
}

div {
    display: flex;
    justify-content: space-between;
    width: 15%;
    align-items: center;
}


nav{
    
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

a{
    text-decoration: none;
    font-size: 1.2rem;
}



//Primeira section
.primeiraSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;


    section {
        height: 60vh;

        
        h2 {
            font-size: 3rem;
            font-weight: 700;
            width: 55%;
        }
        p {
            font-size: 1.25rem;
            width: 55%;
        }
    }
}

.boxBtnPrimeiraSection {
    border: solid;
    width: 50%;
    justify-content: space-around;
 
    button {
        cursor: pointer;
        padding: 20px 30px;
    }
}

//Section dados numericos-----


.dadosNumericos {
    background-color: #f3f5f8;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 20vh;
    
    div {
        border: solid;
        width: 20%;
        height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    h2 {
        color: #16a34a;
    }
}


//Section produtos disponiveis
.produtosDisponiveis {
    display: flex;
    justify-content: space-around;
    background-color: rgb(22, 181, 181);
    article {
        border: solid black;
        width: 20%;
        height: 70vh;
        display: flex;
        //flex-direction: row; //Padrão. Os itens são organizados em forma de linha da esquerda pra direita.
        //flex-direction: row-reverse; //Os itens são organizazdos em forma de linha (fileira) da direita para a esquerda.
        flex-direction: column; //Os itens são organizados em coluna, de cima para baixo.

        //justify-content: space-evenly;
        //justify-content: space-around;
        justify-content: space-between;
        
    
        //align-items: flex-start;
        // align-items: flex-end;
        align-items:center;
       


        img {
            width: 100%;
            height: 30vh;
            border: solid;
        }

        button {
            width: 45%;
            height: 5vh;
            cursor: pointer;
            margin-bottom: 1rem;
            background-color: rgb(225, 167, 217);
            color: #ffffff;
            font-weight: 900;
            border-radius: 15px;
            font-size: 0.8rem;

        }
    }
}

//Responsivo

//Smartphone max: 500px

//Estrutura com limitador minimo de px e máx de px
// @media(min-width: ;) (max-width: ;)

@media (max-widht: 500px) 

 .header {
        display: flex;
        flex-direction: column;
        height: 10vh;
    }

    .caixaLogo {
        border: solid;
        width: 10%;
    }

    nav {
        border: solid;
        width: 50%;

        a{
            font-size: 0.8rem;
        }

        .bntVerdeHeader{
            font-size: 0.8rem;
        }
    }

    //Primeira Section - Mobile ---

    .primeiraSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 80vh;

        section {

            height: 80vh;


            h2 {
                font-size: 1rem;
                width: 90%;
            }
            p{
                width: 90%;
            }
        }
        img {
            width: 20%;
        }


    }

//Section dados numericos
.dadosNumericos {
height: 25vh;

div {
    width: 20%;

    h2 {
        font-size: 1.3rem;
    }

}
}


    //Section Produtos Disponiveis
    .produtosDisponiveis {
        flex-direction: column;

    article {
        width: 50%;
    }

}



